@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
}  

:root {
    --main-spacement: min(300px, 30vh);
    --main-color: #013DD9;
    --main-fontfamily: 'Karla', sans-serif;
    --main-fontsize: 20px;
    --subtitle-fontsize: 24px;
    --title-fontsize: 32px;
}

*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--main-fontfamily);
    text-decoration: none;
    color: #000;
    content: "";
    outline: none;
    border: none;
    /* border: 2px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    font-size: var(--main-fontsize);
    /* overflow-x: hidden; */
}

h1 {
    font-size: var(--title-fontsize);
}
h2 {
    font-size: var(--subtitle-fontsize);
    margin-bottom: 20px;
}
h3 {
    font-size: var(--main-fontsize);
    text-transform: uppercase;
    color: #777;
}

p {
    font-size: var(--main-fontsize);
    color: #777;
}

span {
    width: 100%;
    height: 1px;
    background-color: #777;
}

img {
    width: min(100%, 600px);
}

section {
    display: grid;
    place-items: center;
    margin-bottom: var(--main-spacement);
}

section, header, footer {
    padding: 0 50px;
}


header {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

header nav ul {
    display: flex;
    align-items: center;
    height: 150px;
    font-weight: 600;
    width: inherit;
}

header nav ul li:nth-child(2) {
    margin-left: auto;
    margin-right: 20px;
}



#Accueil .bgGradient {
    background: linear-gradient(180deg, #003DD9 0%, #2657D4 33%, #7096F9 66%, #fff 100%);
    height: 200%;
}

#Accueil .container {
    height: min(794px, 100vh);
}

#Accueil .container > div {
    display: grid;
    gap: 20px;
}

.scrollDown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px 10px;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 100vh;
    bottom: 20%;
    width: fit-content;
}

.scrollDown svg {
    animation: scrollDown 3s infinite;
}
.scrollDown svg:nth-child(2) {
    animation-delay: 0.25s;
}
.scrollDown svg:nth-child(3) {
    animation-delay: 0.5s;
}


#MeetMe .item:first-child {
    grid-column: span 7;
}
#MeetMe .item:last-child {
    grid-column-start: 10;
    grid-column: span 5;
}



#DevWeb .item:first-child {
    grid-column: span 4;
}
#DevWeb .item:nth-child(2) {
    grid-column: span 4;
}
#DevWeb .item:last-child {
    grid-column: span 4;
    height: 100%;
    gap: auto;
}

#DevWeb .item:last-child > div {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    height: 35px;
    overflow: hidden;
}
#DevWeb .item:last-child > div::before {
    position: absolute;
    height: 100%;
    width: 95%;
    background-color: #003DD9;
}
#DevWeb .item:last-child > div::after {
    position: absolute;
    height: 500%;
    width: 10%;
    left: 95%;
    transform: translateY(-25%) rotateZ(20deg) translateX(-14px);
    background-color: #f2f2f2;
}

#DevWeb .item:last-child > *:nth-child(3)::before {
    width: 90%;
}
#DevWeb .item:last-child > *:nth-child(3)::after {
    left: 90%;
}
#DevWeb .item:last-child > *:nth-child(5)::before {
    width: 77%;
}
#DevWeb .item:last-child > *:nth-child(5)::after {
    left: 77%;
}
#DevWeb .item:last-child > *:nth-child(7)::before {
    width: 65%;
}
#DevWeb .item:last-child > *:nth-child(7)::after {
    left: 65%;
}

#DevWeb .item:last-child p {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.25);
}



#DesignWeb .item:first-child {
    order: 2;
    grid-column: span 7;
}
#DesignWeb .item:last-child {
    order: 1;
    grid-column: span 5;
}

#DesignWeb img {
    width: 150px;
}

#DesignWeb .bgGradient {
    background: linear-gradient(0deg, #003DD9 55%, #fff 100%);
    height: calc(100% + var(--main-spacement)*2);
    bottom: -var(--main-fontsize);
}



#Responsive .bgGradient {
    top: 0;
    height: 88%;
    background: linear-gradient(180deg, rgba(53, 99, 220, 0.20) 0%, rgba(255, 255, 255, 0.00) 50%, rgba(53, 99, 220, 0.20) 100%);
    opacity: 0.5;
}

#Responsive .bgGradient.bg2 {
    top: 88%;
    height: 75%;
    background: linear-gradient(180deg, #003DD9 0%, rgba(255, 255, 255, 0.25) 100%);
    opacity: 1;
}

#Responsive .illustration {
    width: 100%;
    height: 300px;
}



#MaintenanceWeb .item:first-child {
    grid-column: span 7;
}
#MaintenanceWeb .item:last-child {
    grid-column: span 5;
}

#MaintenanceWeb .item:first-child div {
    display: flex;
    align-items: center;
}

#MaintenanceWeb .item:first-child div svg {
    width: 25px;
    height: 25px;
}

#MaintenanceWeb .item:first-child div h3 {
    margin-left: 15px;
}



#HowIWork .container {
    background-color: #003DD9;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 50px;
    overflow: hidden;
}

#HowIWork .item:first-child {
    grid-column: span 12;
    text-align: center;
}
#HowIWork .item:last-child {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
}

#HowIWork .item:last-child div {
    display: grid;
    place-items: center;
}

#HowIWork .item:last-child div > div {
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 100vh;
}

#HowIWork .item:last-child .arrow {
    display: flex;
    align-items: center;
}

#HowIWork .arrow svg {
    transform: rotateZ(-90deg);
}



#contact .item:first-child {
    grid-column: span 5;
}
#contact .item:last-child {
    grid-column: span 7;
    height: max(100%, 40vh);
}



#Devis .bgGradient {
    top: 50%;
    height: 140%;
    background: linear-gradient(0deg, #FFF 0%, #003DD9 20%);
}

#Devis .container {
    height: max(100%, 200px);
    padding: 30px 50px;
    background-color: #141C3A;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

#Devis .item:first-child{
    grid-column: span 3;
    text-align: center;
}

#Devis .item:last-child {
    grid-column: 10 / span 3;
    text-align: center;
    font-weight: 600;
}

#Devis .item:nth-child(2) {
    grid-column: 5 / span 4;
    text-align: center;
}

#Devis h2 {
    margin: 0;
}



#form .container {
    align-items: start;
}

#form .item {
    grid-column: span 6;
}

#form .item:first-child input[type=checkbox] {
    height: fit-content;
}

#form .item:last-child {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#form input, #form textarea {
    padding: 15px;
    color: #000;
    height: 60px;
    font-size: var(--main-fontsize);
    border-radius: 5px;
}

#form .item:last-child textarea {
    flex-grow: 1;
    resize: none;
}

#form input[type=submit] {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
}
#form input[type=submit]:hover {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
}



#Citations .item {
    width: 50%;
}

#Citations span {
    width: min(100%, 450px);
}



footer {
    display: grid;
    place-items: center;
}

footer .bgGradient {
    top: 0;
    height: 100%;
    background-color: #003DD9;
}

footer .container {
    padding: 50px 0;
    gap: 50px;
}

footer .item ul {
    display: grid;
    gap: 10px;
}

footer .item:first-child {
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .item:first-child h3 {
    text-transform: none;
    font-size: var(--subtitle-fontsize);
}

footer .item:nth-child(2) {
    grid-column: span 5;
}

footer .item:nth-child(3) {
    grid-column: 9 / span 4;
}

footer .item:last-child {
    grid-column: span 12;
}



/* COMPOSANTS */

.container {
    width: min(1200px, 100%);
}

.grille {
    display: grid;
    align-items: center;
    gap: 20px;
}

.center {
    place-items: center;
    text-align: center;
}

.colonne {
    grid-template-columns: repeat(12, 1fr);
}
.colonne::after, .colonne::before {
    display: none;
}

.item {
    display: grid;
    gap: 20px;
}
.item::after, .item::before {
    display: none;
}

.illustration {
    display: grid;
    place-items: center;
    overflow: hidden;
    height: 100%;
}

.illustration img {
    position: absolute;
}
.illustration svg {
    position: absolute;
    width: max(350px, 110%);
    height: max(100%, 300px);
    object-fit: contain;
}

.logo {
    height: 50px;
    object-fit: contain;
    width: fit-content;
}

.logo img {
    height: inherit;
}

.white * {
    color: #fff;
}

.bgGradient {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.btn {
    padding: 10px 15px;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 100vh;
    transition: all 300ms ease-in-out;
}
.btn:hover, .btn:focus {
    color: #003DD9;
    background-color: #fff;
}

.topPage {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: var(--main-color);
    border-radius: 100vh;
    box-shadow: inset 0 0 0 2px #fff;
}



/* Styles généraux de la scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
}

/* Style du pouce de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Couleur du pouce */
    border-radius: 100vh; /* Coins arrondis du pouce */
}

/* Style de la piste de la scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent; /* Couleur de la piste */
}



/* RESPONSIVE */

@media (max-width: 900px) {
    :root {
        --main-spacement: min(150px, 30vh);
        --main-color: #013DD9;
        --main-fontfamily: 'Karla', sans-serif;
        --main-fontsize: 16px;
        --subtitle-fontsize: 20px;
        --title-fontsize: 24px;
    }
}

@media (max-width: 730px) {
    .item {
        grid-column: span 12 !important;
    }

    .illustration {
        height: 100%;
    }

    .illustration svg, #MeetMe img {
        position: relative;
        width: min(350px, 100%);
        height: 100%;
    }

    section, header, footer {
        padding: 0 20px;
    }
    
    #MeetMe img {
        margin: 0 auto;
    }
}


/* ANIMATIONS */

@keyframes scrollDown {
    50% {opacity: 0;}
    100% {opacity: 1;}
}